/*Reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #777777;
}

li {
  list-style-type: none;
}

/*header*/
header.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

header.header .right-side {
  font-size: 1.2em;
  text-align: center;
  padding: 1em;
}

header.header .right-side button {
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  text-align: center;
  background-color: #4584ef;
  padding: 0.5rem;
  color: #fff;
  cursor: pointer;
}

/*Content, search*/
.section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.section .search {
  -webkit-box-shadow: 1px 1px 0px #f2f2f2, -1px -1px 0px #f2f2f2;
          box-shadow: 1px 1px 0px #f2f2f2, -1px -1px 0px #f2f2f2;
  border-radius: 1rem;
  text-align: center;
}

.section input[type="text"] {
  width: 480px;
  border: 1px solid red;
  border: none;
  outline: none;
  padding: 1rem;
}

.section input[type="button"] {
  border: 1px solid #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f6368;
  font-size: 14px;
  height: 36px;
  text-align: center;
  padding: 0.5rem;
  margin-top: 1rem;
}

.section input[type="button"]:hover {
  cursor: pointer;
  border: 1px solid #cdcdcd;
}

.section i {
  color: #cdcdcd;
}

/*footer*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

footer .foot-left-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foot-left-side ul li {
  padding: 1rem;
}

footer .foot-right-side ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foot-right-side ul li {
  padding: 1rem;
}
